<div class="w-full mb-10">
  <div class="flex bg-white" style="height: 600px">
    <div
      class="hidden lg:block lg:w-1/2"
      style="clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%)"
    >
      <img
        class=""
        src="https://user-images.githubusercontent.com/59125401/144878845-da9d252a-abfb-4fa1-8fca-fa46c7b103b1.png"
        alt="hero photo"
      />
    </div>
    <div
      class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2"
    >
      <div>
        <h2 class="text-5xl font-semibold text-gray-800 md:text-4xl">
          Get Free <span class="text-indigo-600">Merch</span>
        </h2>
        <p class="mt-2 text-2xl w-3/4 text-gray-500 md:text-base">
          Contribute to Medusa and get free merch as a token of our appreciation.
        </p>
        <div class="flex justify-center lg:justify-start mt-6">
          <a
            class="
              px-4
              py-3
              bg-indigo-600
              text-gray-200 text-xs
              font-semibold
              rounded
              hover:text-indigo-600
            "
            href="#"
            >Get Started</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
