<html>
  <head>
    <title>medusa storefront</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <div>{% include header.liquid %}</div>
  <div>
    <body>
      <div>
        {{ content }}
      </div>
    </body>
  </div>
  <div>{% include footer.liquid %}</div>
</html>
